<!DOCTYPE html>
<html lang="en">
<head>
  <title>Weather App About</title>
      {{>mylinks}}
</head>
<body>

{{>navbar}}

<!-- Main Header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- Main header right-->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/happy_girl1.png" class="img-fluid" title="feargirl" />
                    </figure>
                </div>
                <!-- Main header left-->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weater app</p>
                    <h2 class="text-capitalize">i am a <span>mern stack developer</span> youtuber and a freelancer</h2>
                    <a href="/mydata"><button>About us</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}
</body>
</html>